<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsq.blcokchainexplorer.dao.TransactionDetailMapper">
  <resultMap id="BaseResultMap" type="com.zsq.blcokchainexplorer.po.TransactionDetail">
    <id column="txid" jdbcType="CHAR" property="txid" />
    <id column="address" jdbcType="VARCHAR" property="address" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
  </resultMap>
  <sql id="Base_Column_List">
    txid, address, type, amount
  </sql>

  <!--custom sql-->
  <update id="truncate">
      truncate table transaction_detail;
  </update>


  <!--根据txid查询-->
  <select id="selectByTxid" parameterType="java.lang.String" resultType="com.zsq.blcokchainexplorer.dto.TxDetailInTxInfo">
    select
    address,type,amount
    from transaction_detail
    where txid = #{txid}
  </select>


  <select id="selectByPrimaryKey" parameterType="com.zsq.blcokchainexplorer.po.TransactionDetailKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transaction_detail
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zsq.blcokchainexplorer.po.TransactionDetailKey">
    delete from transaction_detail
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zsq.blcokchainexplorer.po.TransactionDetail">
    insert into transaction_detail (txid, address, type, 
      amount)
    values (#{txid,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{amount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.zsq.blcokchainexplorer.po.TransactionDetail">
    insert into transaction_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        txid,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        #{txid,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsq.blcokchainexplorer.po.TransactionDetail">
    update transaction_detail
    <set>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
    </set>
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsq.blcokchainexplorer.po.TransactionDetail">
    update transaction_detail
    set type = #{type,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DOUBLE}
    where txid = #{txid,jdbcType=CHAR}
      and address = #{address,jdbcType=VARCHAR}
  </update>
</mapper>